body{
  height: 100%;
  width: 100%;
  
}

h1{
  text-align: center;
background-color:#fff8e7 ;
    }
h2{
  padding-left: 50px; 
  font-size: 15px; 
 
}

p{
font-family: 'Lobster'; 
  border-style: double;
  
}   

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: black;
  padding: 10px;
  font-family: 'Lobster'; 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  text-align: center;
}

li a {
  display: block;
  padding: 8px; 
  background-color: #F7F3E7; 
}
li a.hover{
  background-color: #ECEADD; 
  color: #A68164;
}
li a.active{
background-color: #EF9259; 
  color:#A68164;  
}
  .nav-link{
    color: #A68164;
  }
.nav-link:hover {
  color: #503B3B; 
  }
.item3{
  text-align: center;
}
.item4{
  text-align: center;
}